Checks: '
  *,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,

  -bugprone-easily-swappable-parameters,

  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-goto,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-static-cast-downcast,

  -fuchsia-default-arguments-calls,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-trailing-return,

  -google-readability-namespace-comments,

  -hicpp-avoid-c-arrays,
  -hicpp-named-parameter,
  -hicpp-uppercase-literal-suffix,
  -hicpp-use-override,

  -llvm-header-guard,
  -llvm-inline-function-decl,
  -llvm-include-order,
  -llvm-namespace-comment,

  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-inline-function-decl,
  -llvmlibc-restrict-system-libc-headers,

  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,

  -modernize-avoid-c-arrays,
  -modernize-use-override,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -google-readability-braces-around-statements,

  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-redundant-access-specifiers,
  -readability-redundant-inline-specifier,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix
'

WarningsAsErrors: false
HeaderFilterRegex: '(.*\.h)'
